@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

.footer-para{
    margin-top: -70px;
}

.footImg{
    margin-top: -68px;
}


@media screen and (max-width:600px){
    .footImg{
        margin-left: 2.75rem;
        width: 273px;
        padding-left: 44px;
    }
    .footer-para{
        font-size: 12px !important;
        margin-top: 0;
        padding-left: 1.75rem;
        margin-top: -54px;
     margin-left: 0px;
   width: 388px;
      
    }
}